.container{
    background: var(--tertier-color);
    color: var(--text-light);
    font-weight: var(--text-bold);
}

.cta--main{
    padding: .8rem 1.6rem;
    font-size: var(--text-sm);
    border-radius: var(--border-radius-lg);
    
    @media screen and (min-width: 641px) {
        padding: 1rem 1.8rem;
        font-size: var(--text-base);
    }

    @media screen and (min-width: 1024px) {
        padding: 1.2rem 2rem;
        font-size: var(--text-base);
    }
}